<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.magpie.magpie">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".JSONGet"
            android:exported="false" />
        <service
            android:name=".JSONParse"
            android:exported="false" />
        <service
            android:name=".ImageTest"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Obtainable_loc"
            android:label="@string/title_activity_obtainable_loc"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Local_loc" />
        <activity
            android:name=".Badge_page"
            android:label="@string/title_activity_badge_page"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>